<?xml version="1.0" ?>
<!--/**
 * CustomConcepts_Tableratezipranges extension
 * @category  CustomConcepts_Extensions
 * @package   CustomConcepts_Tableratezipranges
 * @copyright Copyright (c) 2017
 * @author GoCustomized <info@gocustomized.com>
 */-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <cc_tableratezipranges>
            <general>
                <enable>1</enable>
            </general>
        </cc_tableratezipranges>
    </default>
</config>
