<?xml version="1.0" ?>
<config>
    <preference for="CustomConcepts\Tableratezipranges\Api\TablerateGeneratorInterface"
                type="CustomConcepts\Tableratezipranges\Service\TablerateGenerator"/>
    <preference for="Bluebirdday\TranssmartSmartConnect\Model\ResourceModel\Carrier\Tablerate"
                type="CustomConcepts\Tableratezipranges\Model\ResourceModel\Carrier\Tablerate"/>
    <preference for="Bluebirdday\TranssmartSmartConnect\Block\Adminhtml\Carrier\Grid"
                type="CustomConcepts\Tableratezipranges\Block\Adminhtml\Carrier\Tablerate\Grid"/>
    <preference for="Magento\OfflineShipping\Model\ResourceModel\Carrier\Tablerate\CSV\ColumnResolver"
                type="CustomConcepts\Tableratezipranges\Model\ResourceModel\Carrier\Tablerate\CSV\ColumnResolver"/>

    <type name="Bluebirdday\TranssmartSmartConnect\Model\ResourceModel\Carrier\Tablerate\CSV\RowParser">
        <plugin name="cc_tablerate_rowparser_plugin"
                type="CustomConcepts\Tableratezipranges\Plugin\Transsmart\Carrier\Tablerate\CSV\RowParserPlugin" sortOrder="11" />
    </type>

    <type name="Magento\OfflineShipping\Model\ResourceModel\Carrier\Tablerate\RateQuery">
        <plugin name="cc_tablerate_getrate_plugin"
                type="CustomConcepts\Tableratezipranges\Plugin\OfflineShipping\Carrier\Tablerate\GetRatePlugin" />
    </type>

    <type name="Bluebirdday\TranssmartSmartConnect\Model\Rate\Response\Parser">
        <plugin name="cc_tablerate_rate_parser_plugin"
                type="CustomConcepts\Tableratezipranges\Plugin\Transsmart\Rate\Response\ParserPlugin" />
    </type>
</config>
