<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	<event name="cpc_catalog_category_view">
		<observer instance="CustomConcepts\CustomPrintCloud\Observer\Frontend\Cpc\CatalogCategoryView" name="customconcepts_customprintcloud_observer_frontend_cpc_catalogcategoryview_cpc_catalog_category_view"/>
	</event>
</config>
