<?xml version="1.0"?>
<!--
/**
 * CustomConcepts_ExtendedDropshipment extension
 * @category  CustomConcepts_Extensions
 * @package   CustomConcepts_ExtendedDropshipment
 * @copyright Copyright (c) 2017
 * @author GoCustomized <info@gocustomized.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
   
    <virtualType name="DropshipmentGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">CustomConcepts\ExtendedDropshipment\Model\ResourceModel\Dropshipment\Collection</argument>
        </arguments>
    </virtualType>    
    <type name="CustomConcepts\ExtendedDropshipment\Model\ResourceModel\Dropshipment\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">sales_order_item</argument>
            <argument name="eventPrefix" xsi:type="string">dropshipment_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">dropshipmentitem_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">CustomConcepts\ExtendedDropshipment\Model\ResourceModel\Dropshipment</argument>
        </arguments>
    </type>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="dropshipment_grid_data_source" xsi:type="string">CustomConcepts\ExtendedDropshipment\Model\ResourceModel\Dropshipment\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
</config>
