<?xml version="1.0"?>
<!--
/**
 * CustomConcepts_GoCustomizer extension
 * @category  CustomConcepts_Extensions
 * @package   CustomConcepts_GoCustomizer
 * @copyright Copyright (c) 2017
 * @author GoCustomized <info@gocustomized.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="CustomConcepts_GoCustomizer" setup_version="1.0.1">
        <sequence>
            <module name="Magento_Catalog" />
            <module name="Magento_Quote" />
            <module name="Magento_Sales" />
            <module name="Magento_Checkout" />
        </sequence>
    </module>
</config>
