<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- disable email functionality for newsletter subscription/unsubscription -->
    <preference for="Magento\Newsletter\Model\Subscriber" type="CustomConcepts\Newsletter\Model\Subscriber"/>
</config>
