<?xml version="1.0"?>
<!--
/**
 * CustomConcepts_ReorderDiscountCode extension
 * @category  CustomConcepts_Extensions
 * @package   CustomConcepts_ReorderDiscountCode
 * @copyright Copyright (c) 2017
 * @author GoCustomized <info@gocustomized.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <reorderdiscountcode>
            <reorderdis_email>
                <discountCoupanPrefix>CC-REORD-</discountCoupanPrefix>
                <reorderdis_sender_email_identity>general</reorderdis_sender_email_identity>
                <email_template>reorderdiscountcode_reorderdis_email_email_template</email_template>
                <max_coupan>5</max_coupan>
                <usesPerCoupan>1</usesPerCoupan>
                <usesPerCustomer>1</usesPerCustomer>
                <customerGroup>0,1,2,3</customerGroup>
                <simpleAction>cart_fixed</simpleAction>
            </reorderdis_email>
        </reorderdiscountcode>
    </default>
</config>
