<?xml version="1.0" encoding="UTF-8"?>
<!--/**
 * CustomConcepts_ReorderDiscountCode extension
 * @category  CustomConcepts_Extensions
 * @package   CustomConcepts_ReorderDiscountCode
 * @copyright Copyright (c) 2017
 * @author GoCustomized <info@gocustomized.com>
 */-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\SalesRule\Controller\Adminhtml\Promo\Quote\Save">
        <plugin name="SaveCouponPlugin" type="CustomConcepts\ReorderDiscountCode\Plugin\Controller\Adminhtml\Promo\Quote\Save" sortOrder="10"/>
    </type>
    <type name="Magento\Quote\Model\CouponManagement">
        <plugin name="CouponManagementPlugin" type="CustomConcepts\ReorderDiscountCode\Plugin\Model\CouponManagement" sortOrder="10"/>
    </type>
</config>
