<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="CustomConcepts::top_level" module="CustomConcepts_Estimations" resource="Magento_Backend::content" sortOrder="9999" title="CustomConcepts"/>
		<add action="estimations/estimationdates/index" id="CustomConcepts_Estimations::estimations_estimationdates" module="CustomConcepts_Estimations" parent="CustomConcepts::top_level" resource="Magento_Backend::content" sortOrder="9999" title="EstimationDates"/>
		<add action="estimations/deliveryrategrid/index"  id="CustomConcepts_Estimations::deliveryrategrid_index" title="DeliveryRates" module="CustomConcepts_Estimations"  sortOrder="20" parent="CustomConcepts::top_level" dependsOnModule="CustomConcepts_Estimations" resource="CustomConcepts_Estimations::deliveryrategrid_index"/>
	</menu>
</config>
