<?xml version="1.0"?>
<!--/**
* CustomConcepts_Oathlogin extension
* @category  CustomConcepts_Extensions
* @package   CustomConcepts_Oathlogin
* @copyright Copyright (c) 2017
* @author GoCustomized <info@gocustomized.com>
*/-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="CustomConcepts_OrderConfirmationEmail" setup_version="1.0.0">
        <sequence>
            <module name="Magento_Quote"/>
        </sequence>
    </module>
</config>
