<?xml version="1.0"?>
<!--/**
* CustomConcepts_ReorderDiscountCode extension
* @category  CustomConcepts_Extensions
* @package   CustomConcepts_ReorderDiscountCode
* @copyright Copyright (c) 2017
* @author GoCustomized <info@gocustomized.com>
*/-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="reorderdiscountcode" frontName="reorderdiscountcode">
            <module name="CustomConcepts_ReorderDiscountCode" />
        </route>
    </router>
</config>
