<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Xtento_OrderExport" setup_version="2.14.7">
        <sequence>
            <module name="Magento_Backend"/>
            <module name="Xtento_XtCore"/>
        </sequence>
    </module>
</config>
<!--
/**
 * Product:       Xtento_OrderExport
 * ID:            WoI1MYCFWCFPt2M7HvBsGLGyRIO0K7bzTeJrT/nJ/i0=
 * Last Modified: 2021-07-12T20:25:58+00:00
 * File:          app/code/Xtento/OrderExport/etc/module.xml
 * Copyright:     Copyright (c) XTENTO GmbH & Co. KG <info@xtento.com> / All rights reserved.
 */
-->