/*@media screen and (max-width: 769px){*/
.cart .page-title{
    margin-top: 8px;
    margin-bottom: 0;
}
.cart .page-title h1{
    align-self: center;
}
.cart .maxesd{
    color: #1f9f3a;
    margin-bottom: 10px;
}
.messages{
    margin-top: 12px;
}
.messages .success-msg, .messages .error-msg{
    background-color: white;
    background-position: 0 center !important;
    padding: 0 25px 0 26px !important;
    background-size: 18px;
}
.messages .error-msg{
    background-image: url(../images/i_msg-error.png);
}
.messages .success-msg{
    color: #1f9f3a !important;
    display: none;
    background-image: url(../images/i_msg-success.png);
}
.cart-table-wrapper{
    display: flex;
    flex-direction: column;
}
.cart-item{
    border-bottom: 2px solid #efefef;
}
.cart-item:first-child{
    border-top: 2px solid #efefef;
}
.cart-item .product-name, .cart-item .product-name a{
    font-size: 16px;
    font-weight: bold;
}
.flex{
    display: flex;
}
.vert-flex{
    display: flex;
    flex-direction: column;
}
.flex-grow{
    flex-grow: 1;
}
.infowrap{
    flex-grow: 1;
    text-align: left;
    margin: 10px 0;
}
.buttonholder{
    margin-top: 12px;
}
.justify-around{
    justify-content: space-around;
}
.justify-between{
    justify-content: space-between;
}
.flex-start{
    display: flex;
    justify-content: flex-start;
}
.cart .totals .totals-inner{
    padding: 0;
}
.cart .totals{
    background-color: white;
    text-transform: uppercase;
}
.cart .totals tr td:first-child{
    text-align: left !important;
}
.cart .totals .price{
    padding-right: 0;
}
.cart-edit{
    border: 2px solid #fcc324;
    color: #fcc324;
    padding: 7px 14px;
    margin-left: 12px;
}
.cart .qtyflex{
    margin-top: 0;
}
.qtyflex input.qty{
    pointer-events: none;
}
.cart .decrease{
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}
.cart .increase{
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}
.thumbholder{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.thumbholder img{
    width: 70px;
    padding-right: 8px;
    max-width: none;
}
.thumbholder img.landscape{
    width: 95px;
    margin-left: -25px;
    position: relative;
    left: 14px;
}
.shopping-cart-totals-table{
    line-height: 2;
    font-size: 16px;
    padding: 0 10px;
}
.shopping-cart-totals-table strong .price{
    font-size: 18px;
}
.btn-remove{
    width: 24px;
    height: 24px;
    line-height: 24px;
    margin-top: 14px;
    margin-left: auto;
}
.btn-remove:before{
    font-size: 20px;
}
.deleteholder .price{
    font-size: 18px;
    margin-bottom: 18px;
}
.cart .giftpopupbutton{
    color: #fcc324;
    border: 2px solid #fcc324;
    padding: 7px 14px;
    float: none;
    background-color: white;
    width: auto;
    line-height: 0;
    font-size: 16px;
}
.cart .stickyfooter .giftpopupbutton{
    margin: 10px auto 10px 12px;
}
.cart .stickyfooter .checkout-types{
    margin-right: 12px;
}
.cart .mobile-hide .button.btn-checkout, .cart .giftpopupbutton, .cart .mobile-hide .checkout-types li{
    margin: 0;
}
.cart .giftpopupbutton img{
    width: 20px;
}
.cart .button.btn-checkout{
    line-height: 45px;
    float: none;
    font-size: 16px;
    margin: 10px 0px 10px auto;
    background-color: #1f9f3a;
}
.cart .page-title .button.btn-checkout{
    margin: 0;
}
.cart .page-title:after{
    display: none;
}

.cart .crosssell h2{
    border-bottom: 2px solid #efefef;
}
.cart .cart-left-column{
    margin-left: 0;
}

.cart #crosssell-products-list{
    display: flex;
    flex-wrap: wrap;
}

#crosssell-products-list .item{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: 2px solid white;
    text-align: center;
    cursor: pointer;
}
#crosssell-products-list .item:hover{
    border: 2px solid #a3b1c6;
}

.cart .crosssell .product-name{
    height: auto;
}

.cart .crosssell .price-box{
    padding-top: 0;
    margin-bottom: 0;
    margin-top: auto;
    line-height: 2;
    font-size: 16px;
}
.top-auto{
    margin-top: auto;
}

#crosssell-products-list button{
    margin: 0 0 10px;
    display: flex;
    justify-content: center;
}
#crosssell-products-list button div:before{
    content: "+";
    font-size: 20px;
    margin-right: 10px;
}
.cart .crosssell .btn-cart div{
    display: flex;
    align-items: center;
    background-color: #fcc324;
    padding: 2px 4px;
}

.cart .crosssell .btn-cart span{
    background-image: url("../images/shopping-cart.svg");
    background-position: center;
    background-size: contain;
    width: 25px;
    height: 25px;
}

#ampromo-items-add{
    border: 1px solid #fcc324;
}

#ampromo-items .btn-remove{
    position: absolute;
    top: -6px;
    right: 8px;
}

@media screen and (max-width: 330px) {
    .thumbholder img{
        width: 55px;
    }
    .thumbholder img.landscape{
        width: 70px;
    }
    .deleteholder .price{
        font-size: 16px;
    }
    .cart-item .product-name{
        font-size: 14px;
    }
    .qtyflex .qty-button{
        width: 28px;
    }
    .cart .stickyfooter .giftpopupbutton{
        margin-left: 6px;
    }
    .cart .stickyfooter .btn-checkout{
        padding: 0 12px;
    }
    .cart .stickyfooter .checkout-types{
        margin-right: 6px;
    }
    .cart .stickyfooter button.button{
        font-size: 14px;
    }
    .cart-edit{
        padding: 7px;
    }
}
@media screen and (min-width: 769px) {
    .cart-item{
        min-height: 115px;
    }
    #crosssell-products-list .item {
        flex-basis: 25%;
    }
    .cart .maxesd{
        font-size: 14px;
        font-weight: bold;
    }
    .cart .maxesd #germany{
        font-weight: normal;
    }
}
