<?xml version="1.0"?>
<!--
/**
 * CustomConcepts_Theme extension
 * @category  CustomConcepts_Extensions
 * @package   CustomConcepts_Theme
 * @copyright Copyright (c) 2020
 * @author GoCustomized <info@gocustomized.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="CustomConcepts_Theme" setup_version="1.0.0">
        <sequence>
            <module name="Magento_Theme" />
        </sequence>
    </module>
</config>
