<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\Reporting">
        <plugin name="cc_ghost_shipment_grid_data_provider_reporting"
                type="CustomConcepts\GhostShipment\Plugin\UiComponent\DataProvider\Reporting"/>
    </type>
    <preference for="Bluebirdday\TranssmartSmartConnectExtension\Model\Shipment\Creator"
                type="CustomConcepts\GhostShipment\Model\Shipment\Creator" />
</config>
