<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="CustomConcepts_GhostShipment::manual_shipping" title="Manual Shipment" translate="title" module="CustomConcepts_GhostShipment" sortOrder="11"
             parent="CustomConcepts::top_level" action="ghostshipment/ship" resource="Magento_Backend::admin"/>
    </menu>
</config>
