<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
		<resources>
			<resource id="Magento_Backend::admin">
				<resource id="CustomConcepts_Main::main" title="CustomConcepts" sortOrder="100">
                    <resource id="CustomConcepts_ProductionDashboard::production_dashboard" sortOrder="10" title="Product Dashboard"/>
                </resource>
			</resource>
		</resources>
	</acl>
</config>
